In [17]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [18]:
x=1
b=2
x
b

1

2

In [273]:
data = pd.read_json("./static/data/B_Project1.json")

In [274]:
data.columns = data.iloc[0]

In [275]:
data1 = data.drop([2018, 2017, 2016], axis=1)

In [276]:
data1[data1.index == 'Quarter']

Year,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,...,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019
Quarter,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,Q1,...,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4,Q4

In [277]:
data1.reset_index(inplace=True)

In [278]:
dataT = data1.transpose()

In [279]:
dataT

,0,1,2,3,4,5,6,7
Year,,,,,,,,
index,Year,Quarter,State,Colonies,Max Colonies,Lost Colonies,Added Colonies,Renovated Colonies
2019,2019,Q1,Alabama,7500,7500,820,1200,1500
2019,2019,Q1,Arizona,25000,26000,6000,810,230
2019,2019,Q1,Arkansas,22000,22000,7500,540,810
2019,2019,Q1,California,1.15e+06,1540000,215000,205000,133000
...,...,...,...,...,...,...,...,...
2019,2019,Q4,West Virginia,7000,7000,1200,50,70
2019,2019,Q4,Wisconsin,48000,48000,8500,1600,530
2019,2019,Q4,Wyoming,30000,32000,2700,220,-
2019,2019,Q4,Other States,8370,8670,1150,20,500
2019,2019,Q4,United States,2.86897e+06,(X),444730,219640,154560

In [280]:
dataT.columns = dataT.loc['index']

In [281]:
dataT['Quarter']

Year
index    Quarter
2019          Q1
2019          Q1
2019          Q1
2019          Q1
          ...
2019          Q4
2019          Q4
2019          Q4
2019          Q4
2019          Q4
Name: Quarter, Length: 189, dtype: object

In [282]:
new_dict = {}
for row in dataT['Quarter'].unique(): 
    new_dict[row] = dataT[dataT['Quarter'] ==  row]

In [283]:
new = new_dict['Q1']
new2 = new_dict['Q2']
new3 = new_dict['Q3']
new4 = new_dict['Q4']

In [284]:
new.fillna(0, inplace=True) 
new2.fillna(0, inplace=True) 
new3.fillna(0, inplace=True) 
new4.fillna(0, inplace=True)

In [285]:
new.set_index('State', drop=True, inplace=True)
new2.set_index('State', drop=True, inplace=True)
new3.set_index('State', drop=True, inplace=True)
new4.set_index('State', drop=True, inplace=True)

In [287]:
new.drop('Year', axis=1, inplace=True)
new2.drop('Year', axis=1, inplace=True)
new3.drop('Year', axis=1, inplace=True)
new4.drop('Year', axis=1, inplace=True)

In [291]:
new.drop(['United States', 'Other States'], axis=0, inplace=True)
new2.drop(['United States', 'Other States'], axis=0, inplace=True)
new3.drop(['United States', 'Other States'], axis=0, inplace=True)
new4.drop(['United States', 'Other States'], axis=0, inplace=True)

In [292]:
for col in new.columns:
    new.loc[new[col] == '-', col] = 0
for col in new2.columns:
    new2.loc[new2[col] == '-', col] = 0
for col in new3.columns:
    new3.loc[new3[col] == '-', col] = 0
for col in new4.columns:
    new4.loc[new4[col] == '-', col] = 0

In [293]:
new[['Colonies','Max Colonies','Lost Colonies','Added Colonies','Renovated Colonies']] = new[['Colonies','Max Colonies','Lost Colonies','Added Colonies','Renovated Colonies']].apply(pd.to_numeric)
new2[['Colonies','Max Colonies','Lost Colonies','Added Colonies','Renovated Colonies']] = new2[['Colonies','Max Colonies','Lost Colonies','Added Colonies','Renovated Colonies']].apply(pd.to_numeric)
new3[['Colonies','Max Colonies','Lost Colonies','Added Colonies','Renovated Colonies']] = new3[['Colonies','Max Colonies','Lost Colonies','Added Colonies','Renovated Colonies']].apply(pd.to_numeric)
new4[['Colonies','Max Colonies','Lost Colonies','Added Colonies','Renovated Colonies']] = new4[['Colonies','Max Colonies','Lost Colonies','Added Colonies','Renovated Colonies']].apply(pd.to_numeric)

In [295]:
new['Colonies'] = new['Colonies'] + new2['Colonies'] + new3['Colonies'] + new4['Colonies']
new['Max Colonies'] = new['Max Colonies'] + new2['Max Colonies'] + new3['Max Colonies'] + new4['Max Colonies']
new['Lost Colonies'] = new['Lost Colonies'] + new2['Lost Colonies'] + new3['Lost Colonies'] + new4['Lost Colonies']
new['Added Colonies'] = new['Added Colonies'] + new2['Added Colonies'] + new3['Added Colonies'] + new4['Added Colonies']
new['Renovated Colonies'] = new['Renovated Colonies'] + new2['Renovated Colonies'] + new3['Renovated Colonies'] + new4['Renovated Colonies']

C:\Users\Deepak\Anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Deepak\Anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Deepak\Anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Deepak\Anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Deepak\Anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [297]:
new.to_json("./static/data/B_map.json")

In [2]:
json = pd.read_json("./static/data/B_map.json")

In [5]:
json.drop('Quarter', axis=1, inplace=True)

In [14]:
json.index.name = 'States'

In [16]:
json.to_csv("./static/data/B_map.csv", index="States")